<h3 style="float: left">Gift Queue</h3>
<i class="btn btn-primary pull-right add_a_gift"
   data-occasion-id="<%= occasion.id %>" style="margin-top: 20px">+ Add a Gift</i>
<%= erb :_queued_gifts, :locals => {:occasion => occasion} %>

<h3>Other gift ideas</h3>
<%= erb :_recommended_gifts, :locals => {:occasion => occasion} %>


<script type="text/javascript">
  $('#queue').sortable({
    axis: 'y',
    items: '.item',
    stop: function(e, ui) {
      var data = $(this).sortable('serialize');
      var item_id, position;
      item_id = ui.item.data('item_id');
      position = ui.item.index();
      return $.ajax({
        type: 'POST',
        url: $(this).data('update_url'),
        dataType: 'json',
        data: data
        
      });
      return ui.item.children('td').effect('highlight', {}, 1000);
    },
    update: function(e, ui) {
     
    }
  }); 


</script>