<table class="table table-striped table-bordered" id="sortable" data-update_url="recommendations/sort">
  <% occasion.cached_recommendations.order_by([[ :row_order, :asc ]]).each do |recommendation| %>
      <tr class="recommendation_row item" id="recommendation-<%= recommendation.id %>" data-id="<%= recommendation.id %>" data-item_id="<%= recommendation.id %>">
	<td><%= recommendation["name"] %> <i class="icon-chevron-right pull-right"></i></td>
      </tr>
    <% end %>
</table>


<script type="text/javascript">
  if (typeof(setOccasionAvailable) != "undefined") {
    setRecommendationClick();
  }
  $('#sortable').sortable({
    axis: 'y',
    items: '.item',
    stop: function(e, ui) {
      var data = $(this).sortable('serialize');
      position = ui.item.index();
      return $.ajax({
        type: 'POST',
        url: $(this).data('update_url'),
        dataType: 'json',
        data: data
        
      });
      return ui.item.children('td').effect('highlight', {}, 1000);
    },
    update: function(e, ui) {
     
    }
  });	

</script>



