<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Givify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="vendor/sd/flat-ui/images/favicon.ico">

    <link rel="stylesheet" href="vendor/sd/flat-ui/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/sd/flat-ui/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="vendor/sd/flat-ui/css/flat-ui.css">
    
    <!-- Using only with Flat-UI (free)-->
            <link rel="stylesheet" href="vendor/sd/common-files/css/icon-font.css">
        <!-- end -->  
    
    <link rel="stylesheet" href="css/style.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="vendor/sd/flat-ui/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

<!-- header-11 -->
    <header class="header-11">
        <div class="container">
            <div class="navbar span12">
                <div class="navbar-inner">
                    <button type="button" class="btn btn-navbar"> </button>
                    <a class="brand" href="#"><img src="img/logo@2x.png" width="50" height="50" alt=""> Givify</a>
                    <div class="nav-collapse collapse pull-right">
                        <ul class="nav">
                            <li class="active"><a href="/">HOME</a></li>
                        </ul>
                        <form class="navbar-form pull-left">
                            <a class="btn btn-primary" href="/login">SIGN IN</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="header-11-sub bg-midnight-blue">
        <div class="background">&nbsp;</div>
        <div class="container">
            <div class="row">
                <div class="span4 offset1">
                    <h3>Helping you give a little better</h3>
                    <p>
                        While our hearts are in the right place, it can be hard to keep track of and prepare to give good gifts. Givify makes this easy.
                    </p>
                    <div class="signup-form">
                      <form>
                            <div class="controls controls-row">
                                <button type="submit" class="btn btn-block btn-info">Sign Up with Facebook</button>
                            </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- footer-2 -->
        <footer class="footer-2 bg-midnight-blue">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li class="active">© Givify 2013</li>
                    </ul>
                </nav>
                <div class="social-btns pull-right">
                    <a href="#"><div class="fui-facebook"> </div><div class="fui-facebook"> </div></a>
                    <a href="#"><div class="fui-twitter"> </div><div class="fui-twitter"> </div></a>
                </div>
            </div>
        </footer>




    <!-- Placed at the end of the document so the pages load faster -->
    <script src="vendor/sd/flat-ui/js/jquery-1.8.3.min.js"></script>
    <script src="vendor/sd/flat-ui/js/bootstrap.min.js"></script>
    <!--[if lt IE 8]>
      <script src="vendor/sd/flat-ui/js/icon-font-ie7.js"></script>
    <![endif]-->
    <script src="vendor/sd/common-files/js/startup-kit.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
